span.quantityItems {
    background: var(--primary);
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;

    text-align: center;
    width: 1.6em;
}

i.material-icons{
    height: 0px;
    line-height: unset;
}

#cartLogo:hover {
    color: var(--primary);
    background-size: 0%;
}