@media (min-width: 768px) {

    nav.navbar {
        padding: 2.125rem 1.5rem 2.125rem 2rem;
        box-shadow: none;
        /* background: transparent; */
    }

    .navbar .nav-item .nav-link {
        padding: 0.25rem 0.75rem 0.25rem 0.75rem;
        background-image: linear-gradient(var(--primary),var(--primary));
        background-position: 0 100%;
        background-repeat: no-repeat;
        background-size: 0% 20%;
        transition: background-size .3s;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
        
    }
    .navbar-custom.top-nav-collapse .nav-item .nav-link:hover  {
        color: #fff;
        background-size: 100% 37%;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
        &:hover {
        //   color: var(--primary); 
            color: #fff;
            background-size: 100% 37%; 
        }
    }
}

.navbar-custom .fa-stack .hexagon {
    background: url('background/hexagon-green.svg');
    background-size: 1.625rem 1.625rem;
}

.navbar-custom .fa-stack:hover .hexagon {
    background: url('background/hexagon-white.svg');
    background-size: 1.625rem 1.625rem;
}

/* #logo {
    content: url(JPL-0112.svg)
}

@media (min-width: 768px) {
    #logo {
        content: url(JPL-0111.svg)
    }
} */

// .dropdown-menu:hover ~ .dropdown {
//     color: red;
//     background-size: 100% 50%;
// }



.navbar-dark .navbar-nav .nav-link:focus {
    color: #fff;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: var(--primary);
    background-color: transparent;
}

.Toastify__toast--success {
	
    background: var(--primary);
    font-family: 'Montserrat';

}